@{
  Layout = "_Layout";
}

<h1>Welcome Osono!</h1>
<p>I made you an order tracker for Guchokipanya. Isn't this great?!</p>
<p>The bakery has gotten so busy I thought it might help keep everything organized.</p>
<p>Let me know if you have any questions or want me to add anything new!</p>
<p>Love,</p>
<p class="signature">Kiki</p>

<button><a href="/vendors">View Vendors</a></button>
<button><a href="/vendors/new">Add A New Vendor</a></button>