@{
  Layout = "_Layout";
}

<h1>Order Details: </h1>

<p>Order Type: @Model["order"].Type</p>
<p>Quantity: @Model["order"].Quantity</p>


<button class="btn"><a href='/vendors/@Model["vendor"].Id/orders/new'>Add Another Order</a></button>
<hr>
<button class="btn"><a href="/">Home</a></button>
<button class="btn"><a href="/vendors">Vendor List</a></button>